.img {
    width : 30px;
    height : 30px;
    margin-left : 20px;
}

.flex {
    display: flex;
    flex-direction: row;
    gap : 10px;
    padding-top : 10px;
    padding-bottom : 10px;
    background-color: rgb(219, 214, 214);
    margin-bottom : 0;
}

.p {
    
    margin : 5px;
}